.restaurant-show-container {
    display: flex;
    font-family: sans-serif;
}

.restaurant-image-main {
    height: 15rem;
    width: auto;
    margin: 2rem;
    margin-right: 0.5rem;
}

.restaurant-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.restaurant-name {
    font-size: 1.6rem;
    margin: 1rem 0rem;
    width: 100%;
    color: #3b9915;
    font-weight: 600;
}

.restaurant-price-value {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FF8300;
    margin-bottom: 0.8rem;
}

.restaurant-phone-number {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    color: gray;
}

.restaurant-web-link {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    color: gray;
}

.restaurant-address {
    display: flex;
    flex-direction: column;
}

.address-line-1, .address-line-2{
    font-size: 1rem;
    font-style: italic;
    color: gray;
    margin-bottom: 0.5rem;
}