.navbar-container {
    /* width: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    font-family: sans-serif;
    border-bottom: solid 1px gray;
}

.navbar-left {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: flex-start;
}

.navbar-right {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: flex-end;
}

.nav-logo {
    height: 38px;
    margin-left: 4%;
}

.navbar-logo-main {
    font-size: 28px;
    color: #3b9915;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-about-link {
    text-decoration: none;
    margin-right: 1rem;
    color: #FF8300;
    font-size: 13px;
}

/* .navbar-search {
    margin-left: 6%;
    width: 46%;
    height: 24px;
    background-color: white;
    border: solid 1px #000045;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 14px;
    color: #000045;
    opacity: 0.7;
} */

.navbar-login {
    color: #3b9915;
    font-size: 14px;
    background-color: inherit;
    border: none;
    outline: none;
    margin-right: 1rem;
}

.navbar-login:hover {
	color: #44b317;
	cursor: pointer;
}

.navbar-signup {
    color: #3b9915;
    font-size: 14px;
    background-color: inherit;
    border: solid 1px #3b9915;
    border-radius: 5px;
    outline: none;
    margin-right: 8%;
    padding: 0.6rem 0.8rem;
}

.navbar-signup:hover {
	color: #44b317;
	cursor: pointer;
}