/* Masonry layout adapted from:
https://css-tricks.com/seamless-responsive-photo-grid/
*/
.food-items-container {
	line-height: 0;
	-webkit-column-count: 3;
	-webkit-column-gap: 5px;
	-moz-column-count: 3;
	-moz-column-gap: 5px;
	column-count: 3;
	column-gap: 15px;
	margin: 50px;
}

.food-index-item {
	position: relative;
}
.food-index-item img {
	width: 100% !important;
	height: auto !important;
	margin-bottom: 15px;
	border-radius: 5px;
}

.food-index-item:hover .overlay {
	height: 33%;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.65);
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: 0.5s ease;
	margin-bottom: 15px;
}

.overlay-content-container {
	margin-top: 20px;
	font-family: sans-serif;
	text-align: center;
	width: 100%;
}

.overlay-title {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* End Masonry layout */
