.splash-1 {
	position: absolute;
	left: 0;
	right: 0;
	top: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.splash-background-image {
	width: 100%;
	height: auto;
	filter: brightness(78%);
}

.splash-1-header {
	position: absolute;
	top: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.42);
	padding: 1rem;
	border-radius: 1rem;
}

.splash-1-title {
	color: white;
	font-family: sans-serif;
	font-size: 3rem;
	font-weight: bold;
	border-radius: 5px;
}

.carousel-header-text {
	font-size: 2.5rem;
	color: black;
	background-color: unset;
	margin-bottom: 1rem;
}

.description {
	font-family: sans-serif;
	font-size: 1rem;
}

.carousel-title-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 2.5rem;
	margin-bottom: 1.5rem;
}

.splash-1-text {
	color: white;
	font-family: sans-serif;
	font-size: 1.25rem;
	margin-top:.5rem;
	margin-left: 4px;
	border-radius: 3px;
}

.splash-1-button{
	font-size: 14px;
	width: 11em;
	background-color: rgba(255, 187, 0, 0.883);
	height: 3em;
	color: white;
	/* color: #3b9915; */
	margin: 1em;
	font-weight: 800;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

button:hover {
	transform: scale(1.05);
}

.splash-2 {
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
}

.splash-2-col {
    padding-top: .5rem;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3rem;
}

.splash-col-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.splash-col-content {
    font-size: 1.1rem;
}